:root{
    --main-color: rgba(65, 67, 229, .8);
    --secondary-color: #7D97F4;
}

.list-container {
    width: fit-content;
    margin: 60px auto;
}

table {
    min-width: 50rem;
    border-collapse: collapse;
}

thead, tr, td, th {
    text-align: center;
}

thead {
    background-color: var(--secondary-color);
    color: ghostwhite;
}

tbody tr td, thead th {
    padding-block: 10px;
}

tbody tr:nth-child(odd){
    background-color: ghostwhite;
}

tbody tr:nth-child(even){
    background-color: lightgray;
}

.delete, .edit{
    color: dimgray;
}


.edit:hover, .delete:hover{
    cursor: pointer;
}

.edit:hover {
    color: var(--main-color);
}

.delete:hover {
    color: crimson;
}

.actions {
    text-decoration: none;
}

.actions:has(.edit, .delete)  {
    margin-right: 10px;
}

.actions:visited{}

.client-name {
    position: relative;
    display: inline-block;
    color: black;
}

.client-name:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited {}



.command-count:visited{}